# Compiled class files
*.class

# Maven target directory
target/
!target/*.keep

# Logs
*.log

# IntelliJ IDEA
.idea/
*.iml

# Eclipse
.project
.classpath
.settings/

# VS Code
.vscode/

# OS-specific files
.DS_Store
Thumbs.db

# Maven Wrapper
.mvn/

